// This file contains helpers- base css variables which will be used in other scss files

$white: #ffffff !default;
$black: #000000 !default;
$blue: #0060af !default;
$blueHover: #307dbe !default;
$darkBlue: #003366 !default;
$darkgrey: #333333 !default;
$lightgrey: #f3f3f3 !default;
$mediumgrey: #999999 !default;
$lightgreyHover: #e5e5e5 !default;
$darkgreyHover: #666666 !default;
$whitegrey: #f9f9f9 !default;
$orange: #e98a11 !default;
$orangeHover: #ffa32b !default;
$lightorange: #fce3cc !default;
$light-blue-grey:  #e4eef7 !default;
$lighter-blue-grey:  #f4f8fb !default;
$middle-light-blue-grey:  #d6e5f2 !default;
//  Fonts -font-family
$arial: Arial, Helvetica, sans-serif !default;
$rootFontRegular: TheSans_regular, Helvetica, sans-serif !default;
$rootFontBold: TheSans_bold, Helvetica, sans-serif !default;

    // Font sizes -font-size
$font-size16: 16px !default;
